@import 'tailwindcss';

.hide-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #ccc #f0f0f0;
}

/* hide scrollbar for Chrome, Safari, Edge */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
